#wrapper {
    position: absolute;
    margin-left: 14px;
    margin-top: 22px;
    animation: pulse 1s infinite;
}

#pulsingheart {
    position: relative;
    width: 50px;
    height: 45px;
}

    #pulsingheart:before, #pulsingheart:after {
        position: absolute;
        content: "";
        left: 25px;
        top: 0;
        width: 25px;
        height: 40px;
        background: #aa0000;
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        animation: pulsecolor 1s infinite;
    }

    #pulsingheart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
        animation: pulsecolor 1s infinite;
    }

@keyframes pulse {
    10% {
        transform: scale(1.1)
    }
}

@keyframes pulsecolor {
    10% {
        background: #dd0000
    }
}
