@media only screen and (max-width: 1000px) {
    .App {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        margin: 10px;
    }

        .App header, h1, h2, h3, h4, h5 {
            display: block;
            justify-content: center;
            width: 100%;
            white-space: nowrap;
            font-family: 'Inknut Antiqua', serif;
            margin: 3px;
            padding: 0;
            line-height: 24px;
        }

        .App main {
            display: flex;
            flex-wrap: wrap;
        }

    /* Tooltip overlay */
    .tooltip-overlay {
        min-width: 50%;
        max-width: 80%; /* Adjust the maximum width for mobile devices */
        top: 50%;
        left: 0%;
        transform: translate(-75%, -50%);
    }
}

.App {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

    .App header {
        display: grid;
        width: 100%;
        justify-content: center;
    }

.h1, h2, h3, h4, h5 {
    white-space: nowrap;
    font-family: 'Inknut Antiqua', serif;
    margin: 3px;
    padding: 0;
    line-height: 24px;
}

.App main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-containers {
    display: flex;
    justify-content: center;
}

.side-container-a {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 250px auto;
    max-width: 25%;
    height: auto;
    align-items: center;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

.side-container-b {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 200px auto;
    max-width: 25%;
    height: auto;
    align-items: center;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

.grid-spreuken, .grid-recepten {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* One item per row */
    gap: 2px;
    width: 100%;
    margin: 2px;
    padding: 0px;
}

.grid-spreuk-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    width: 100% auto;
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
}

.grid-spreuk-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
    font-display: auto;
    line-height: 24px;
}

.grid-spreuk-image {
    max-width: 16px;
    max-height: 16px;
    object-fit: contain;
    cursor: pointer;
}

.grid-eigenschappen {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    gap: 10px;
    margin: 10px;
    padding: 0px;
}

.grid-eigenschap-item {
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
}

.grid-eigenschap-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 95%;
    height: 95%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
    font-display: auto;
    line-height: 12px;
}

.grid-eigenschap-image {
    background-size: cover;
    background-position: center;
}

.App-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.App-table th,
.App-table td {
    margin: 2px;
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: .35rem;
    max-height: 12px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping within cells */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.col-vaardigheid {
    min-width: 250px;
}

.col-acties {
    min-width: 50px;
}

.App-table th {
    background-color: #f0f0f0;
}

.image-cell {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.row-image {
    max-width: 100%;
    max-height: 16px; /* Adjust this value to control the maximum height of the image */
    object-fit: contain;
    cursor: pointer;
}

/* Adjust the width of the select component and the button */
.select-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.select {
    display: flex;
    height: 24px;
}

.form-select {
    max-width: 80%;
    width: 100%;
    margin: 5px;
    padding: 0px;
    font-size: 12px;
}


.btn-primary {
    width: auto;
    height: auto;
}

.btn-secondary {
    width: 100%;
    height: 24px;
}

.btn-primary,
.btn-secondary {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    padding: calc(.7rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-secondary:hover,
    .btn-secondary:focus {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
    }

    .btn-primary:hover,
    .btn-secondary:hover {
        transform: translateY(-1px);
    }

    .btn-primary:active,
    .btn-secondary:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
    }

/* Styles for the modal */
.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    z-index: 1000;
}

.modal {
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Show the tooltip when hovering over the image */
.tooltip-container:hover .tooltip-overlay {
    display: block;
}

/* Tooltip overlay */
.tooltip-overlay {
    display: none; /* Initially hide the tooltip */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Background color for the tooltip */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow for a tooltip effect */
    padding: 10px;
    z-index: 1; /* Ensure the tooltip appears above other content */
    max-width: 25%; /* Set maximum width to 30% of the screen width */
}

/* Tooltip content styles */
.tooltip {
    /* Add your styles for the tooltip content here */
    /* Example styles: */
    font-size: 12px;
    line-height: 1.5;
    color: #333;
}

/* Table styles */
.tooltip-table {
    width: 100%; /* Ensure the table takes the full width of the tooltip */
    table-layout: auto; /* Fixed table layout to prevent cell content from affecting column width */
    border-collapse: collapse; /* Collapse borders for a cleaner look */
    vertical-align: top;
}

    /* Style for table cells */
    .tooltip-table td {
        word-wrap: break-word; /* Wrap long words if necessary */
        max-width: 1%; /* Allow content to expand to fit available width */
        font-size: 10px;
    }

    .tooltip-table tooltip-property {
        justify-content: flex-start;
        text-align: left;
        width: 15%;
    }
