.App header {
    display: flex;
    justify-content: center;
    font-family: 'Inknut Antiqua', serif;
}

.App main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.App-table table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

.App-table th,
.App-table td {
    padding: 4px;
    border: 2px solid #ccc;
    max-height: 24px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping within cells */
    overflow: hidden; /* Hide content that overflows */
    text-overflow: ellipsis; /* Display ellipsis (...) for hidden content */
}

.col-vaardigheid {
    min-width: 250px;
}

.App-table th {
    background-color: #f0f0f0;
}

.image-cell {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.row-image {
    max-width: 100%;
    max-height: 24px; /* Adjust this value to control the maximum height of the image */
    object-fit: contain;
    cursor: pointer;
}

/* Adjust the width of the select component and the button */
.select-container {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.form-select {
    max-width: 80%;
    width: 100%;
    margin: 10px;
}

/* CSS */
.btn-primary {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 2rem;
    padding: calc(.7rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

    .btn-primary:hover,
    .btn-primary:focus {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
    }

    .btn-primary:hover {
        transform: translateY(-1px);
    }

    .btn-primary:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
    }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px; /* Add 50px padding at the top */
    z-index: 1000; /* Make sure the overlay appears above the content */
}

.modal {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
