@media only screen and (max-width: 1000px) {
    .App {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 100%;
        justify-content: center;
        margin: 10px;
    }

        .App header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 15px;
            justify-content: center;
        }

            .App header img {
                max-width: 50px;
                max-height: 50px;
            }

        .App main {
            display: flex;
            flex-wrap: wrap;
        }

    /* Tooltip overlay */
    .tooltip-overlay {
        display: fixed;
        width: 35rem;
        top: 50%;
        left: 0%;
        transform: translate(-75%, -50%);
        overflow-y: scroll;
    }

    .modal {
        background-color: white;
        text-align: center;
        min-width: 30%;
        max-width: 50%;
        font-size: 12px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
}

.App {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

    .App main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .App header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 15px;
        justify-content: center;
    }

        .App header img {
            max-width: 50px;
            max-height: 50px;
        }


    .App footer {
        position: fixed;
        bottom: 0;
        width: 110%;
        background-color: #333;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        font-family: 'Inknut Antiqua', serif;
        padding: 0px;
        font-size: 12px;
    }

        .App footer div {
            width: 30%;
            display: inline-block;
            box-sizing: border-box;
        }

.disclaimer, .bugreport {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.h1, h2, h3, h4, h5 {
    white-space: nowrap;
    font-family: 'Inknut Antiqua', serif;
    margin: 3px;
    padding: 0px;
    line-height: 24px;
}

.toolbar-container {
    margin: 2px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.015);
    max-width: 100%;
}

.main-container label {
    white-space: nowrap;
    font-size: 12px;
    font-family: 'Arial', serif;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    line-height: 14px;
}
.character-container {
    display: flex;
    flex-direction: row;
}

.character-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
    width: 75%;
}

    .character-settings label {
        margin-right: 3px;
    }

    .settings-inputs input {
    min-width: 60px;
    max-width: 150px;
}

.settings-inputs input {
    width: 60px;
}

.settings-personage {
    width: 150px;
}

.select-inputs,
.settings-btns {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3px;
}

.settings-btns {
    margin-left: 3px;
}
    /* select component */
    .select-basic-container,
    .select-extra-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.select {
    display: flex;
    height: 24px;
}

.form-select {
    min-width: 75%;
    max-width: 75%;
    width: 75% auto;
    margin: 5px;
    padding: 0px;
    font-size: 12px;
}

.select-info {
    width: 25px;
    justify-content: center;
}

/* main skill table*/
.App-table table {
    width: 100%;
    border-collapse: collapse;
}

.App-table th {
    background-color: #f0f0f0;
}

.App-table th,
.App-table td {
    margin: 2px;
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: .35rem;
    max-height: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

/* main skill table - tabel rij eigenschappen */
.col-vaardigheid {
    min-width: 250px;
}

.col-info {
    min-width: 40px;
}

.col-acties {
    min-width: 60px;
}

.info {
    align-items: center;
    justify-content: center;
    max-width: 40px;
    padding: 0px;
    margin: 0px;
    margin-left: 4px;
}

.acties-info {
    display: flex;
    width: 30px;
    justify-content: center;
}

.acties {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8px;
}

.acties-overige {
    display: flex;
    width: 32px;
    justify-content: flex-end;
}


/* Character eigenschappen + Spreuken, Technieken & Recepten */
.side-containers {
    display: flex;
    justify-content: center;
}

.side-container-a {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 250px auto;
    max-width: 25%;
    height: auto;
    align-items: center;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

.side-container-b {
    display: flex;
    flex-direction: column;
    min-width: 275px;
    width: 275px auto;
    max-width: 25%;
    height: auto;
    align-items: center;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

/* Grid Eigenschappen */
.grid-eigenschappen {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two items per row */
    gap: 10px;
    margin: 10px;
    padding: 0px;
}

.grid-eigenschap-item {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 75px;
    min-height: 75px;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
}

.grid-eigenschap-image {
    background-position: top;
    background-repeat: no-repeat;
    width: 75px;
    min-height: 65px;
    height: auto;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
}

.grid-eigenschap-text {
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
    font-display: auto;
    line-height: 12px;
}


/* Grid Spreuk & Recepten */
.grid-spreuken, .grid-recepten {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* One item per row */
    gap: 2px;
    width: 100%;
    margin: 2px;
    padding: 0px;
}

.grid-spreuk-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    width: 100% auto;
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .35rem;
}

.grid-spreuk-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
    font-display: auto;
}

.grid-spreuk-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* btn eigenschappen */
.btn-image {
    max-width: 16px;
    max-height: 16px;
    object-fit: contain;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 2px;
}

.btn-primary {
    width: auto;
    height: auto;
}

.btn-secondary {
    width: 100%;
    height: 24px;
}

.btn-toolbar {
    margin: 2px;
    padding: calc(.3rem - 1px) calc(0.3rem - 1px);
}
.btn-primary,
.btn-secondary {
    margin: 2px;
    padding: calc(.7rem - 1px) calc(1rem - 1px);
}

.btn-primary,
.btn-secondary,
.btn-toolbar {
    display: inline-flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

    .btn-primary:hover, .btn-primary:focus, .btn-secondary:hover, .btn-secondary:focus,
    .close:hover, .close:focus, .btn-toolbar:hover, .btn-toolbar:focus {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(-1px);
    }

    .btn-primary:active,
    .btn-secondary:active,
    .close:active,
    .btn-toolbar:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
    }

    .btn-primary:disabled,
    .btn-secondary:disabled,
    .close:disabled,
    .btn-toolbar:disabled {
        background-color: #ccc;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
        opacity: 0.5;
        cursor: not-allowed;
    }

/* modal eigenschappen */
.modal-overlay {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    z-index: 1000;
}

.modal {
    background-color: white;
    text-align: center;
    max-width: 25%;
    max-height: 75%;
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.modal-container {
    margin: 15px;
}

.upload-modal {
    background-color: white;
    text-align: center;
    min-width: 20%;
    min-height: 15%;
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.upload-modal-block {
    margin: 10px;
}

.bug-modal {
    background-color: white;
    align-content: center;
    justify-content: center;
    max-width: 75%;
    max-height: 75%;
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.bug-input, .bug-text {
    min-width: 300px;
}

.bug-text {
    min-height: 75px;
}

.close {
    margin-top: 3px;
    margin-left: -30px;
    display: inline-flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .15rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    padding: calc(.1rem - 1px) calc(0.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

/* tooltip eigenschappen */
.tooltip-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

    .tooltip-container:hover .tooltip-overlay {
        display: block;
    }

.tooltip-overlay {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    min-width: 30rem;
    width: fit-content;
    max-width: 30%;
    max-height: 65%;
    transform: translate(-50%, -15%);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* tooltip tabel eigenschapen */
.tooltip-table {
    display: initial;
    font-size: 12px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
    border: hidden;
}

    .tooltip-table td {
        vertical-align: top;
        border: hidden;
        white-space: normal;
    }

/* Load Character table */
.character-table {
    width: 100%;
    border-collapse: collapse;
}

    .character-table tr {
        border-bottom: 1px solid #ddd;
    }

        .character-table tr:hover {
            background-color: #f5f5f5;
        }

.selected-row {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: #e5e5e5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}